# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore build directories
dist/
build/

# Ignore logs
*.log

# Ignore system-specific files
.DS_Store

# Ignore temporary files
.cache/
.next/
